body{
  background-color: rgb(0,0,0)
}

/*base styling
*/
h1{
  color: brown;
  font-size: 30px
}
h3{
  color: black;
  font-size: 30px;
  font-weight: bolder;
}
p, li{
  font: 1em;
  flex: 15px
}
table{
  border-style: solid;
  background-color: whitesmoke;
}
table, tr, th {
  border: 2px solid black;
  font-size: 20px
}
.title{
  font-family: sans-serif
}

/*Defing the gird and styling the gird area
*/
.header{
  grid-area: header;
}
.nav{
  grid-area: nav;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 15% 85%;
  grid-template-areas: 
  "header header" 
  "nav main"
  "footer footer";
  background-color: rgb(0,0,0);
  color: #444;
}
.grid > div{
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}
.box {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5em;
}

/*defing the what display look like
*/
header, nav, main, footer, section{
  display: block;
}

/*Styling for the nav bar
*/
nav li:hover{
    position: relative;
    list-style: none;
    margin: 0;
    line-height: 2;
    background-color: red
}
nav ul{
  /*background-color: white;*/
  align-items: center;
  text-align: center;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}


/* Styling for the lab 4 in the manin gird box
*/
section.left {
  float: left;
  width: 38%;
  font-family: sans-serif;
  background-color: rgb(241, 241, 241);
  color: black;
  border: 2px solid black;
  margin: 1%;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
}
section.right {
  float: right;
  width: 50%;
  font-family: sans-serif;
  font-style: italic;
  background-color: rgb(241, 241, 241);
  color: black;
  border: 2px solid black;
  margin: 1%;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
}
.step{
  font-weight: bold
}
.unorder{
  list-style-type: none;
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}
.meat{
  background-color: #FF7F7F
}
.dairy{
  background-color: yellow
}
.veg{
  background-color: #90ee90
}